<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header class="container-fluid position-sticky bg-color-primary row d-flex justify-content-center box-shadow-bottom">

    <!-- Título -->
    <div class="col p-2">
        <a class="page-title-container row no-text-decor hoverable-text" href="#home">
            <div class="mr-3 row no-m-sides">
                <div class="divider-light m-1"></div>
                <i class="icon-container d-flex m-1">
                    <div th:replace="layout/fragments/logo-box"></div>
                </i>
                <div class="divider-light m-1"></div>
            </div>
            <h1>A Real .COMpany</h1>
        </a>
    </div>

    <!-- Menu produtos -->
    <div class="col-xl-4 col-sm-12 menu-opcoes-container d-flex row justify-content-center">

        <!-- Filmes -->
        <div class="d-flex align-items-center mr-4">
            <a class="dropdown text-align-center clickable dropdown-toggle no-text-decor hoverable-text" href="#"
               aria-expanded="false" data-toggle="dropdown" aria-haspopup="true">
                Filmes
            </a>
            <ul class="dropdown-menu bg-color-primary box-shadow-bottom">
                <li><a class="dropdown-item" href="#produtos/terror">Terror</a></li>
                <li><a class="dropdown-item" href="#produtos/comedia">Comédia</a></li>
                <li><a class="dropdown-item" href="#produtos/cult">Cult</a></li>
            </ul>
        </div>

        <!-- Serviços -->
        <div class="d-flex align-items-center">
            <a class="dropdown text-align-center clickable dropdown-toggle no-text-decor hoverable-text" href="#"
               aria-expanded="false" data-toggle="dropdown" aria-haspopup="true">
                Serviços
            </a>
            <ul class="dropdown-menu bg-color-primary box-shadow-bottom">
                <li><a class="dropdown-item" href="#strvideo">Streaming vídeo</a></li>
                <li><a class="dropdown-item" href="#straudio">Streaming aúdio</a></li>
            </ul>
        </div>

    </div>

    <!-- Login/Carrinho -->
    <div class="col-xl-4 col-sm-12 row p-2 justify-content-end align-items-center">
        <a href="#cadastro" class="hoverable-text m-1 no-text-decor">Cadastrar</a>
        <div class="divider-light m-1"></div>
        <a href="#login" class="hoverable-text m-1 no-text-decor">Entrar</a>
        <a class="icon-container d-flex m-1 clickable no-text-decor" href="#carrinho">
            <i class="fa fa-2x fa-shopping-cart text-white"></i>
        </a>
        <div class="m-1 carrinho-contador-compras clickable">
            <a class="no-text-decor" href="#carrinho" id="carrinhoContador"></a>
        </div>
    </div>

</header>

</html>