<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="col m-2 hoverable-box">
    <a class="clickable no-m-sides row border grid no-text-decor bg-white" href="#produto/TODO/TODO">
        <!-- Imagem -->
        <div class="p-3 d-flex col-12 justify-content-center">
            <img class="produto-img align-self-center" src="// TODO">
        </div>
        <!-- Texto -->
        <div class="justify-text p-3 flex-column">
            <div><b>Título:</b> // TODO</div>
            <div><b>Diretor:</b> // TODO</div>
            <div><b>Ano:</b> // TODO</div>
            <div><b>Sinopse:</b> // TODO
            </div>
        </div>
    </a>
    <div class="p-3 d-flex justify-content-end">
        <div>
            <button class="btn btn-success box-shadow mr-2 mb-2" type="button">
                <i class="bi bi-cart" aria-hidden="true"></i>Adicionar ao carrinho
            </button>
            <button class="btn box-shadow bg-color-primary text-color-primary mb-2" type="button">// TODO</button>
        </div>
    </div>
</div>
</html>